doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Works
        link(rel="stylesheet", href="css/blog.min.css")
    body 
        - var currentUrl = "blog.html"
        include includes/header.pug
        main 
            section.posts-section
                .container
                    h1.posts-section__title.title Blog
                    .posts-section__body 
                        article.posts-section__post.post
                            h4.post__title UI Interactions of the week
                            .post__desc 
                                span.post__date 12 Feb 2019
                                span.post__category Express, Handlebars
                            p.post__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        article.posts-section__post.post
                            h4.post__title UI Interactions of the week
                            .post__desc 
                                span.post__date 12 Feb 2019
                                span.post__category Express, Handlebars
                            p.post__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        article.posts-section__post.post
                            h4.post__title UI Interactions of the week
                            .post__desc 
                                span.post__date 12 Feb 2019
                                span.post__category Express, Handlebars
                            p.post__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        include includes/footer.pug
        script(src="js/app.min.js")
