doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Works
        link(rel="stylesheet", href="css/works.min.css")
    body 
        - var currentUrl = 'works.html'
        include includes/header.pug
        main 
            section.works-section 
                .works-section__container.container.container_small 
                    h1.works-section__title.title Featured works
                    .works-section__body
                        article.works-section__work.work
                            a(href="work-detail.html").work__img 
                                img(src="img/work_02.png", alt="work-02")
                            .work__info 
                                .h4.work__title Designing Dashboards
                                .work__desc 
                                    span.work__date 2020
                                    span.work__category Dashboard
                                p.work__text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        article.works-section__work.work
                            a(href="work-detail.html").work__img 
                                img(src="img/work_01.png", alt="work-01")
                            .work__info 
                                .h4.work__title Vibrant Portraits of 2020
                                .work__desc 
                                    span.work__date 2018
                                    span.work__category Illustration
                                p.work__text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        article.works-section__work.work
                            a(href="work-detail.html").work__img 
                                img(src="img/work_03.png", alt="work-03")
                            .work__info 
                                .h4.work__title 36 Days of Malayalam type
                                .work__desc 
                                    span.work__date 2018
                                    span.work__category Typography
                                p.work__text.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        include includes/footer.pug
    script(src="js/app.min.js")