.works-section {
    background-color: $white;
    margin: 0 0 80px;
    &__work {
        margin: 0 0 30px;
    }
    @include phone {
        &__title {
            text-align: center;
        }
    }
}