@import "base/fonts";
@import "base/mixins.scss";
@import "base/vars.scss";
@import "base/base.scss";
@import "components/header.scss";
@import "components/post.scss";
@import "components/footer.scss";

.posts-section {
    margin: 0 0 50px;
    padding-top: 90px;
    &__title {
        font-weight: 900;
        line-height: 60px;
        margin-bottom: 30px;
    }
    &__post {
        border-bottom: 1px solid $grey;
        margin: 0 0 30px;
        padding: 0 0 20px;
    }
    @include phone {
        padding-top: 25px;
        &__title {
            font-size: 30px;
            font-weight: 700;
            text-align: left;
        }
        &__post {
            margin: 0 0 18px;
        }
    }
}