@import "base/fonts";
@import "base/mixins.scss";
@import "base/vars.scss";
@import "base/base.scss";
@import "components/header.scss";
@import "components/footer.scss";

.work-detail {
    color: $dark;
    margin: 0 0 30px;
    &__title {
        margin: 0 0 20px;
    }
    &__info {
        display: flex;
        margin: 0 0 25px
    }
    &__date {
        margin-right: 17px;
    }
    &__category {
        font-size: 20px;
        line-height: 29px
    }
    &__text {
        margin: 0 0 45px;
    }
    &__img {
        margin: 0 0 55px;
        width: 100%;
        height: auto;
    }
    &__heading {
        &-1 {
            font-size: 30px;
            font-weight: 500;
            margin: 0 0 10px
        }
        &-2 {
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 10px
        }
    }
    @include phone {
        &__category {
            font-size: 18px;
            line-height: 27px;
        }
        &__text {
            margin: 0 0 25px
        }
        &__img {
            margin: 0 0 25px;
        }
    }
}